{% extends 'base.html' %}

{% block content %}

{% load static %}

<h1>About us</h1>
<div style="width: 100%; overflow: hidden;">
  <div style="margin-right: 20px;float: left; width: 50%; text-align: center;">
    <img src="{% static "images/event-left.jpg" %}" style="width: 300px; height: 200px;">
  </div>
  <div style="margin-left: 50%; text-align: center;"> 
    <img src="{% static "images/event-right.jpg" %}" style="width: 300px; height: 200px;">
  </div>
</div>
<h4 class="text-justify" style="margin:50px">Halal Web is an project created by Toyo University INIAD students to help the upcoming Muslim tourists in 2020. Halal Web focuses on providing information of Halal Restaurants in Tokyo with simple and intuitive displays as well as locations and what is provided from the restaurant.</h4>
{% endblock content %}
