{% extends 'base.html' %}
{% block content %}

<h1>Register a Halal Restaurant</h1>
<p>You can submit articles from the following form.</p>
<!-- Check index name -->
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Submit</button>
</form>


<a class="navbar-brand" href="{% url 'top' %}">Back</a>
{% endblock content %}
