{% extends 'base.html' %}

{% block content %}

{% load ratings %}

<head>

<style>
img{ float: right;}

</style>


</head>

{% if restaurants %}

<p>{% for restaurant in restaurants %}</p>

<div class="container-fluid">

<div class="panel panel-default">

<div class="panel-body">


  {% ratings restaurant 40 30 "read_only" %}


<a href="{% url 'restaurant' restaurant.id %}">{{ restaurant.name }} <img src="{{ restaurant.image }}" width="150" height="150" align="right"> </a>


</div>
</div>
</div>

{% endfor %}
{% else %}
<p>Sorry, No restaurant found.</p>
{% endif %}

{% endblock content %}
