{% extends 'base.html' %}

{% block content %}

{% load static %}

{% load ratings%}

{% load social_share %}

<!--check model object
{{restaurant.image}}
-->


<head>
  <style>
    /* Map size*/
    #map {
      height: 400px;
      width: 50%;
    }
    h1 {
      font-family: Roboto Condensed;
      font-size: 72px;
      color: #223843;
    }
  </style>
</head>
<body>
  <div style="width:100%;text-align: center; margin-top: 50px;">
    <img src="{{ restaurant.image }}" width="600" height="400">
  </div>
  <div style="margin-bottom: 50px;width:100%;text-align:center">
    <h1>{{ restaurant.name }}</h1>
  </div>

  <div style="width: 100%; overflow: hidden;">
    <div style="margin-right: 20px;float: left; width: 50%; text-align: center;">
      <h3><span style="white-space: pre-line">{{ restaurant.gen_info }}</span></h3>
    </div>
    <div style="margin-left: 50%; width: 70%; text-align: center;"> 
    <div id="map"></div>
      <script>
        var map;
        function initMap() {
          var map_lat = "{{ restaurant.map_lat }}";
          var map_long = "{{ restaurant.map_long  }}";
          var restaurant = {lat: parseFloat(map_lat), lng: parseFloat(map_long)};
          map = new google.maps.Map(document.getElementById('map'), 
          {zoom: 17, center: restaurant});
          var marker = new google.maps.Marker({position: restaurant, map: map});
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAE3DFSCKqfu4ne3qGP5HYFu5exE_A3S0Q&callback=initMap"
      async defer></script>
    </div>
  </div>

  <div style="max-width: 700px; height:200px; margin: 50px auto 100px;">
    <!-- <h3>{Icon}</h3> -->
    {% if restaurant.halal_cer %}
      <img src="{% static "images/on/halal_cer.png" %}" width="100" height="100">
    {% else %}
    <img src="{% static "images/off/halal_cer.png" %}" width="100" height="100">
    {% endif %}

    {% if restaurant.halal_meat %}
      <img src="{% static "images/on/halal_meat.png" %}" width="100" height="100">
    {% else %}
    <img src="{% static "images/off/halal_meat.png" %}" width="100" height="100">
    {% endif %}

    {% if restaurant.p_free %}
    <img src="{% static "images/on/p_free.png" %}" width="100" height="100">
    {% else %}
    <img src="{% static "images/off/p_free.png" %}" width="100" height="100">
    {% endif %}

    {% if restaurant.halal_sea %}
    <img src="{% static "images/on/halal_sea.png" %}" width="100" height="100">
    {% else %}
    <img src="{% static "images/off/halal_sea.png" %}" width="100" height="100">
    {% endif %}

    {% if restaurant.halal_meal %}
    <img src="{% static "images/on/halal_meal.png" %}" width="100" height="100">
    {% else %}
    <img src="{% static "images/off/halal_meal.png" %}" width="100" height="100">
    {% endif %}

    {% if restaurant.vege_meal %}
    <img src="{% static "images/on/vege_meal.png" %}" width="100" height="100">
    {% else %}
    <img src="{% static "images/off/vege_meal.png" %}" width="100" height="100">
    {% endif %}

    {% if restaurant.muslim_o %}
    <img src="{% static "images/on/muslim_o.png" %}" width="100" height="100">
    {% else %}
    <img src="{% static "images/off/muslim_o.png" %}" width="100" height="100">
    {% endif %}

    {% if restaurant.muslim_c %}
    <img src="{% static "images/on/muslim_c.png" %}" width="100" height="100">
    {% else %}
    <img src="{% static "images/off/muslim_c.png" %}" width="100" height="100">
    {% endif %}

    {% if restaurant.halal_sto %}
    <img src="{% static "images/on/halal_sto.png" %}" width="100" height="100">
    {% else %}
    <img src="{% static "images/off/halal_sto.png" %}" width="100" height="100">
    {% endif %}

    {% if restaurant.halal_kt %}
    <img src="{% static "images/on/halal_kt.png" %}" width="100" height="100">
    {% else %}
    <img src="{% static "images/off/halal_kt.png" %}" width="100" height="100">
    {% endif %}

    {% if restaurant.no_alc_d %}
    <img src="{% static "images/on/no_alc_d.png" %}" width="100" height="100">
    {% else %}
    <img src="{% static "images/off/no_alc_d.png" %}" width="100" height="100">
    {% endif %}

    {% if restaurant.no_alc_m %}
    <img src="{% static "images/on/no_alc_m.png" %}" width="100" height="100">
    {% else %}
    <img src="{% static "images/off/no_alc_m.png" %}" width="100" height="100">
    {% endif %}

  </div>
  <div style="width:100%;text-align:center">
    <h1>Menu</h1>
    <h3><span style="padding: 10px; white-space: pre-line">{{ restaurant.menu }}</span></h3>

  </div>

  {% ratings restaurant %}

  {% post_to_facebook "" %}
  {% post_to_twitter "{{restaurant.name}}. Check it out!" "" %}

  <form action="{% url 'restaurant' restaurant.id %}" method="post" >
      {% csrf_token %}
      
      <div class="form-group">
        <textarea name="detail" rows="3" class="form-control" required></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    <required /form>
    <br>
    {% if comments %} {% for comment in comments %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <small>[{{ comment.created }}]</small>
        <span class="pull-right">
          {{ comment.user }}
        </span>
      </div>
      <div class="panel-body">
        <p>{{ comment.detail | linebreaksbr }}</p>
      </div>
    </div>
    {% endfor %} {% else %}
    <p>No comment.</p>
    {% endif %}
  </div>
    
</body>
{% endblock content %}