{% extends 'base.html' %}
{% block content %}


{% load static %}
{% load ratings %}


  <style>
    h1 {
      font-family: Roboto Condensed;
      font-size: 72px;
      color: #223843;
    }

    image{
        float: right;
    }
  </style>

  <script language="JavaScript">
function toggle(source) {
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    for (var i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i] != source)
            checkboxes[i].checked = source.checked;
    }
}
</script>


{% if restaurants %}


<p>{% for restaurant in restaurants %}</p>

<div class="container-fluid">

    <div class="panel panel-default">

<div class="panel-body">

  {% ratings restaurant 40 30 "read_only" %}
<br>

<a href="{% url 'restaurant' restaurant.id %}">{{ restaurant.name }} <img src="{{ restaurant.image }}" width="150" height="150" align="right"> </a>


</div>
</div>
</div>
</div>

{% endfor %}
{% else %}
    <p>No restaurant.</p>
{% endif %}


<h1>Find a Halal Restaurant</h1>
<form method="POST">
    {% csrf_token %}

        {{form.genre}}
        <br>

        <input type="checkbox" onclick="toggle(this);" />Check all?<br />
  <div style="max-width: 700px; height:200px; margin: auto; margin-bottom: 100px;">

        {{form.halal_cer}}
        {{form.halal_meat}}
        {{form.p_free}}
        {{form.halal_sea}}
        {{form.halal_meal}}
        {{form.vege_meal}}
        {{form.halal_sto}}
        {{form.halal_kt}}
        {{form.no_alc_d}}
        {{form.no_alc_m}}
        {{form.muslim_c}}
        {{form.muslim_o}}
        </div>
        
        <br>
<div style="margin: 25px auto;">
    <button type="submit">Submit</button>
    </div>
</form>

{% endblock content %}