{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{% url 'top' %}" class="navbar-left"><img src="{% static "images/logo-navbar.jpg" %}" style="width: 50px; height: 50px; margin-right: 10px;"></a>
          <a href="{% url 'top' %}" class="navbar-brand">Halal Web</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-nav-demo">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'top' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
              {% if user.is_authenticated %}
                <a class="nav-link" href="#">Signed in as {{ user.username }}</a>
              {% else %}
                <a class="nav-link" href="{% url 'login' %}">Sign in</a>
              {% endif %}
            </li>
            <li class="nav-item">
              {% if not user.is_authenticated %}
                <a class="nav-link" href="{% url 'register' %}">Sign up</a>
              {% endif %}
            </li>
            <li class="nav-item">
              {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'logout' %}">Sign out</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div>
        {% block content %}
        {% endblock %}
    </div>

      <!-- Site footer -->
      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6>About</h6>
              <p class="text-justify">Halal Web is an project created by Toyo University INIAD students to help the upcoming Muslim tourists in 2020. Halal Web focuses on providing information of Halal Restaurants in Tokyo with simple and intuitive displays as well as locations and what is provided from the restaurant.</p>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Quick Links</h6>
              <ul class="footer-links">
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'top' %}">Contact Us</a></li>
                <li><a href="{% url 'top' %}">Contribute</a></li>
                <li><a href="{% url 'top' %}">Privacy Policy</a></li>
                <li><a href="{% url 'top' %}">Sitemap</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by 
           <a href="{% url 'top' %}">Halal Web</a>.
              </p>
            </div>
          </div>
        </div>
  </footer>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>
