{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h1>Login here</h1>

  <form method="POST" class="form-group">
    {% csrf_token %}
    {{form|crispy}}
    <button type = "submit" class="btn btn-success">Login</button>
    <p>Don't have an account? Create one <a href="{% url 'register' %}">here</a></p>
  </form>
{% endblock content %}