.navbar
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:100;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:100aced
}
.social-icons a.linkedin:hover
{
  background-color:1007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:100
  }
}

#id_halal_cer {
  display: block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-appearance: none;
  outline: 0;
  display: inline-block;
}
#id_halal_cer:checked {
  background-image: url('../images/on/halal_cer.png');
}
#id_halal_cer:not(:checked) {
  background-image: url('../images/off/halal_cer.png');
}


#id_halal_meat {
  display: block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-appearance: none;
  outline: 0;
  display: inline-block;
}
#id_halal_meat:checked {
  background-image: url('../images/on/halal_meat.png');
}
#id_halal_meat:not(:checked) {
  background-image: url('../images/off/halal_meat.png');
}

#id_p_free {
  display: block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-appearance: none;
  outline: 0;
  display: inline-block;
}
#id_p_free:checked {
  background-image: url('../images/on/p_free.png');
}
#id_p_free:not(:checked) {
  background-image: url('../images/off/p_free.png');
}

#id_halal_sea {
  display: block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-appearance: none;
  outline: 0;
  display: inline-block;
}
#id_halal_sea:checked {
  background-image: url('../images/on/halal_sea.png');
}
#id_halal_sea:not(:checked) {
  background-image: url('../images/off/halal_sea.png');
}

#id_halal_meal {
  display: block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-appearance: none;
  outline: 0;
  display: inline-block;
}
#id_halal_meal:checked {
  background-image: url('../images/on/halal_meal.png');
}
#id_halal_meal:not(:checked) {
  background-image: url('../images/off/halal_meal.png');
}

#id_vege_meal {
  display: block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-appearance: none;
  outline: 0;
  display: inline-block;
}
#id_vege_meal:checked {
  background-image: url('../images/on/vege_meal.png');
}
#id_vege_meal:not(:checked) {
  background-image: url('../images/off/vege_meal.png');
}

#id_halal_sto {
  display: block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-appearance: none;
  outline: 0;
  display: inline-block;
}
#id_halal_sto:checked {
  background-image: url('../images/on/halal_sto.png');
}
#id_halal_sto:not(:checked) {
  background-image: url('../images/off/halal_sto.png');
}

#id_halal_kt {
  display: block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-appearance: none;
  outline: 0;
  display: inline-block;
}
#id_halal_kt:checked {
  background-image: url('../images/on/halal_kt.png');
}
#id_halal_kt:not(:checked) {
  background-image: url('../images/off/halal_kt.png');
}

#id_no_alc_d {
  display: block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-appearance: none;
  outline: 0;
  display: inline-block;
}
#id_no_alc_d:checked {
  background-image: url('../images/on/no_alc_d.png');
}
#id_no_alc_d:not(:checked) {
  background-image: url('../images/off/no_alc_d.png');
}

#id_no_alc_m {
  display: block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-appearance: none;
  outline: 0;
  display: inline-block;
}
#id_no_alc_m:checked {
  background-image: url('../images/on/no_alc_m.png');
}
#id_no_alc_m:not(:checked) {
  background-image: url('../images/off/no_alc_m.png');
}

#id_muslim_c {
  display: block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-appearance: none;
  outline: 0;
  display: inline-block;
}
#id_muslim_c:checked {
  background-image: url('../images/on/muslim_c.png');
}
#id_muslim_c:not(:checked) {
  background-image: url('../images/off/muslim_c.png');
}

#id_muslim_o {
  display: block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-appearance: none;
  outline: 0;
  display: inline-block;
}
#id_muslim_o:checked {
  background-image: url('../images/on/muslim_o.png');
}
#id_muslim_o:not(:checked) {
  background-image: url('../images/off/muslim_o.png');
}